.container{
	width:90vw;
	min-height:100vh;
	margin:0 auto;
	padding-bottom: 1rem;
	position:relative;
	

	@include respond(l){
		width:100vw;
		max-width: 100%;

	}
	@include respond(s){
		padding-bottom: 8rem;
	}
}

