//=============================================CALENDAR============================================================================
.dashboard__calendar {

	display: inline-block;
	text-decoration: none;
	color: inherit;
	flex:0 0 29%;
	@include respond(s) {
		flex:1;
		
	}

	&--flex {
		margin: 2rem 1rem;
		display: flex;
		flex-direction: column;
		//width: 20vw;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.05);
		}
	}
	&--year {
		padding: 0.5rem 0;
		font-size: 5rem;
		font-family: $font-rajdhani;
		letter-spacing: 0.1rem;
		text-align: center;
		background-color:lighten(#D4916A,5%);
		@include respond(s) {
			//padding:0 2rem;
			//font-size: 2.1rem;
		}
	}
	&--month {
		text-align: center;
		padding: 0.5rem 0;
		background-color: #000;
		color: snow;
		font-size: 2.5rem;
		font-family: $font-special;
		@include respond(s) {
			//font-size: 1.5rem;
			//padding: 0 2rem;
		}
	}
	&--day {
		text-align: center;
		padding: 3rem 0;
		font-size: 10rem;
		font-family: $font-courgette;
		background-color: #f0f0f0;
		@include respond(s) {
			//padding: 0 2rem;
			//font-size: 4rem;
		}
	}
	&--dayname {
		padding: 0.5rem 0;
		text-align: center;
		background-color: lighten(#D4916A,5%);
		font-size: 2.5rem;
		font-family: $font-special;
		@include respond(s) {
			//padding: 0 2rem;
			//font-size: 1.6rem;
		}
	}
	&--time {
		padding: 1rem 0;
		text-align: center;
		background-color: #000;
		color: snow;
		font-size: 1.5rem;
		font-family: "Courier New", sans-serif;
		@include respond(s) {
			//padding: 0 2rem;
			//font-size: 1.2rem;
		}
	}
}
