.calendar{
	
	margin-top: 5rem;

	&__header{	
		font-size: 6.5rem;
		font-family: $font-rajdhani;
		font-weight: 300;
		color:$color-brown;
		text-shadow: .2rem .5rem 1rem rgba(0,0,0,.2);
		text-align: center;
		margin-bottom: 1rem;
		border-bottom: 1px solid rgba($color-brown,.3);
		@include respond(s){
				font-size: 4rem;
			}
	}

	&__table{
		width:100%;
		padding:2rem;
		
		display: grid;
		grid-template-columns: repeat(7,1fr);

		&__header{
			grid-column: 2/-2;
			text-align: center;
			font-family: $font-rajdhani;
			letter-spacing: .1rem;
			font-weight: 300;
			font-size: 4rem;
			text-shadow: .1rem .5rem 1rem rgba($color-secondary-light-2,.2);
			color:$color-secondary-light;
			background-color: black;
			border:1px solid black;

			@include respond(s){
				font-size: 2.5rem;
			}
		}

		&--icon{
			fill:$color-secondary-light;
			width:100%;
			height:100%;
			background-color: black;
			cursor:pointer;
			&:hover{
				background-color: lighten(black,10%);
			}
			&__before{
				grid-column: 1/2;
			
			}
			&__next{
				grid-column: 7/8;
			}
		}
		
		&__weekday{
			padding:2rem;
			font-size: 3rem;
			font-family: $font-rajdhani;
			font-weight: 300;
			text-align: center;
			color:snow;
			border:1px solid rgb(0,0,0);
			background-color: darken($color-brown,10%);
			@include respond(s){
				font-size: 2rem;
				padding:.5rem;
			}
			
			&:not(:last-child){
				border-right:none;
			}

			&--blank{
				background-color: $color-grey-light;
			}
			&--day{
				cursor:pointer;
				&:hover{
					background-color: lighten($color-brown,10%);
				}
			}
			&--green{
				background-color: $color-primary-dark;
			}
			&--red{
				background-color: darken(red,20%);
			}
			&--yellow{
				position:relative;

				&:after{
					position:absolute;
					top:1rem;
					right:1rem;
					content:'';
					color:$color-secondary-light;
					background-color: $color-primary-dark;
					display: block;
					border-radius: 50%;
					font-size: 1.1rem;
					font-weight: 900;
					width:1.5rem;
					height:1.5rem;

					@include respond(s){
						width:.5rem;
						height:.5rem;
					}
				}
			}
		}
		&__weekday-0{			
			grid-column: 1/2;
			background-color: darken(red,20%);
		}
		&__weekday-1{
			grid-column: 2/3;
		}
		&__weekday-2{
			grid-column: 3/4;
		}
		&__weekday-3{
			grid-column: 4/5;
		}
		&__weekday-4{
			grid-column: 5/6;
		}
		&__weekday-5{
			grid-column: 6/7;
		}
		&__weekday-6{
			grid-column: 7/8;
		}
		
	}

	&__event{
		animation: comeOut .5s ease-out;
		transition: animation .5s;
		position:fixed;
		top:0;
		left:0;
		background-color: rgba(darken($color-brown,20%),.9);
		width:100vw;
		height:100vh;
		z-index: 9;
		&__box{
			position:absolute;
			top:5vh;
			left:10vw;
			background-color: rgba($color-primary-dark,.9);
			color:snow;
			width:80vw;
			height:90vh;
			overflow-y: scroll;
			overflow-x: hidden;

			h1{
				margin-top: 5rem;
				font-family: $font-rajdhani;
				font-size: 4rem;
				font-weight: 300;
				letter-spacing: .2rem;
				text-align: center;
				text-shadow: .1rem .5rem .5rem rgba(0,0,0,.4);
				@include respond(s){
					font-size: 2.5rem;
				}
			}
			&__current{
				display:block;
				width:70%;
				margin:0 auto;
				background-color: rgba(black,.7);
				padding:2rem 2rem;
				display:flex;

				&--icon{
					fill:snow;
					width:2.5rem;
					height:2.5rem;
					margin-right: 1rem;
					transform: translateY(.4rem);
					flex:0 0 15%;
				}
				p{
					flex:0 0 80%;
					color:snow;
					font-size: 2rem;
					font-family: $font-openSans;
					font-weight: 300;
				}
			}

			&__add{
				padding:2rem;
				margin:2rem;
				h2{
					font-family: $font-rajdhani;
					font-size: 2.5rem;
					font-weight: 500;
					letter-spacing: .1rem;
					color:black;
					text-align: center;
					border-bottom: 1px solid black;
				}
				p{
					text-align: center;
					font-family: $font-special;
					letter-spacing: .1rem;
					font-size: 2rem;
					margin-top: 2rem;
					color:black;
				}
				input{
					border:none;
					display:block;
					margin:0 auto;
					box-shadow: 0 1rem 1rem rgba(0,0,0,.3);
					border-radius: 2px;
					&:focus{
						outline:none;
					}
				}
				&--time{
					width:15rem;
					padding:0 2rem;
				}
				&--description{
					border:none;
					display:block;
					margin:0 auto;
					box-shadow: 0 1rem 1rem rgba(0,0,0,.3);
					border-radius: 2px;
					&:focus{
						outline:none;
					}
					width:80%;
					padding:1rem 2rem;
				}
				&--add{
					border:none;
					background-color: black;
					padding:1rem 2.5rem;
					width:30%;
					display:block;
					margin:2rem auto;
					font-size: 2rem;
					color:$color-secondary-light;
					font-family: $font-rajdhani, sans-serif;
					letter-spacing: .2rem;
					cursor:pointer;
					border-radius: 2px;
					@include btn-shadow;
					@include respond(m){
						width:80%;
					}
				}
			}
			&--icon{
				position:absolute;
				top:0;
				right:0;
				width:5rem;
				height:5rem;
				cursor:pointer;
				fill:darken(red,30%);
				transition:all 1s;
				&:hover{
					transform:rotate(360deg);
					fill:black;
				}
			}
			
		}
	}
	&__comming{
		
		padding:1rem 2rem;

		&--header{
			font-size: 5rem;
			font-family: $font-rajdhani;
			font-weight: 300;
			color:$color-brown;
			text-shadow: .2rem .5rem 1rem rgba(0,0,0,.2);
			text-align: center;
			margin-bottom: 1rem;
			margin-top: 5rem;
			border-bottom: 1px solid rgba($color-brown,.3);
			@include respond(s){
				font-size: 3rem;
			}
		}
		&__box{

			display:flex;
			justify-content: center;
			flex-wrap: wrap;

			&--each{
				flex:0 0 33.3332%;
				margin:1rem;
				padding:2rem;
				background-color:$color-primary-dark;
				color: snow;
				position:relative;

				
				@include respond(m){
					flex:0 0 45%;
				}
				@include respond(s){
					flex:0 0 90%;
					margin: 1rem auto;
				}
				svg{
					width:2rem;
					height:2rem;
					cursor:pointer;
					fill:$color-brown;
					position:absolute;
					right:1rem;
					bottom:1rem;
					transition:all .5s;
					&:hover{
						transform:translateY(-2px);
						fill:darken(red,25%);
					}
				}
				p{
					margin-top: 2rem;
					font-family: $font-rajdhani, sans-serif;
					font-weight: 300;
					letter-spacing: .2rem;
					font-size: 1.2rem;


				}
				h2{
					
					font-family: $font-rajdhani;
					font-weight: 300;
					font-size: 1.8rem;
					text-align: center;

				}
				
				
			}
		}
		
	}
	 
}