.dashboard{

	margin: 2rem 0;
	display:grid;
	grid-template-columns: repeat(8, [col-start] 1fr [col-end] );
	grid-template-rows: repeat(8, [row-start] 17vh [row-end] );
	grid-gap: 2rem;

	@include respond(mh){
		grid-template-rows: repeat(8, [row-start] 25vh [row-end] );
	}
	
	//=============================================calendar============================================================================

	//=============================================schedule============================================================================
	
	//=============================================MENU============================================================================
	&__preparation{
		grid-column: col-start 1 / -1;
		grid-row: 10/span 4;;
		background-color: green;	//test	
		margin-top: 10rem;
		@include respond(l){
			grid-column: col-start 1 / -1;
			grid-row: 15/span 4;
		}
	}
}