.footer{
	
	padding:2rem 5rem;
	margin-bottom: 2rem;
	margin-top: 10rem;
	margin-left: auto;
	margin-right: auto;
	display:grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 1rem;
	border-top: 1px solid rgba(0,0,0,.3);


	@include respond(s){
		margin-bottom: 17vh;
		width:100%;
	}
	@include respond(xs){
		margin-bottom: 17vh;
	}
	&__text{
		color:black;
		font-family: $font-openSans;
		font-size: 1rem;
		font-weight: 300;
		letter-spacing: .3rem;
		text-align: center;
		align-self: center;
		
		span{
			display:inline-block;
			font-size: 1.2rem;
			font-weight: 500;
			cursor:pointer;
			transition:all .2s;

			&:hover{
				color:$color-secondary-light;
			}
			@include respond(s){
				font-size: 1rem;
			}

		}

		@include respond(s){
			font-size: 1rem;
		}
	}
	&__list{

		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-top: 1rem;
		padding:1rem 3rem;
		border-radius: 3px;

		@include respond(s){
			background-color: transparent;
		}
		
		&--item{
			display:inline-block;
			color: black;
			padding: .3rem 1.5rem;
			border-radius: 2px;
			font-size: 1.4rem;
			font-weight: 500;
			font-family: "Courier New", sans-serif;
			letter-spacing: .2rem;
			cursor:pointer;
			transition:all .2s;
			align-self: center;
			position:relative;
			background-color: $color-brown-dark;
			color: $color-secondary-light;
			margin:1rem;
			
			@include respond(s){
				font-size: 1.2rem;
			}
			&:hover{
				background-color: $color-brown-dark;
				transform:scale(1.05) rotate(3deg);
				color: $color-secondary-light;
				border-bottom: none;
				@include respond(s){
					transform:none;
				}

			}
		}
	}
}