.header{
	width:100%;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	//border-bottom: 1px solid rgba($color-primary,.3);
	
	&__logo{
		padding: 1rem;
		position:relative;
		z-index: 3;
		img{
			height:8rem;
			position:relative;
			z-index: 3;
		}
		@include respond(s){
			margin:0 auto;
		}
	}
	&__asLogged{
		padding: 1rem;
		flex:1;
		display:flex;
		justify-content: space-between;
		
		@include respond(s){
			position:fixed;
			bottom:0;
			left:0;
			width:100%;
			background-image:linear-gradient(to right, rgb(0,10,0),rgb(0,10,0));
			padding:1rem;
			z-index: 99;
			min-height:10vh;
		}

	}
	&__icon--box{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 0rem;
		text-decoration: none;
		color:$color-brown-dark;
		transform:translateY(1rem);
		width:100%;
		transition:all .3s;

		
		span{
			letter-spacing: .1rem;
			font-family: "Courier New", sans-serif;
			font-size: 1.4rem;
			text-align: center;
			line-height: 1;
			transition: all .3s;
			@include respond(m){
				font-size: 1.1rem;
			}
			@include respond(s){
				color:snow;
				font-size: 1rem;
			}
		}
		&:hover{
			span{
				transform: translate(0,-.3rem);
			}
		}
		&:hover > .header__icon{
			transform: translate(0,-.3rem);
			fill:linear-gradient(to bottom, $color-brown-dark, $color-secondary);
		}

		@include respond(xl){
			margin-left: 0rem;
		}
		@include respond(l){
			margin-left: -1rem;
		}
		@include respond(m){
			margin-left: -1.5rem;
			border:none;
		}
		@include respond(s){
			transform:translateY(0);
		}
		@include respond(xxl){
			margin-left: 3rem;
		}

	}
	&__icon{
		width: 4rem;
		height:4rem;
		
		transition:fill .3s;
		transition:transform .3s;
		@include respond(m){
			width: 3.2rem;
			height:3.2rem;
		}
		@include respond(s){
			fill:$color-primary;
			width: 4.5rem;
			height:4.5rem;
		}
		@include respond(xs){
			
		}
		
	}
	&__login{
		//display: block;
		
		align-self: center;
		padding:.8rem 1.5rem;
		border-radius: .3rem;
		text-decoration: none;
		background-color:$color-brown-dark;
		font-family: $font-rajdhani;
		font-weight: 500;
		font-size: 2rem;
		color: $color-secondary-light;
		letter-spacing: .1rem;
		text-align: center;
		display:flex;
		align-items: center;
		justify-content: center;


		svg{
			width:1.8rem;
			height:1.8rem;
			fill:snow;
			

		}
		
		&--width{
			//width:90%;
		}
		@include btn-shadow;
		@include respond(m){
			width:initial;
			padding:.3rem .8rem;
			
			//color:snow;
			position:fixed;
			top:2rem;
			right:2rem;
			z-index: 99;
			box-shadow: none;
			border-radius: 0;

			&:hover{
				transform: none;
				box-shadow: none;
			}
			&:focus{
				transform: none;
				box-shadow: none;
			}

		}
		@include respond(xs){
			
			font-size: 1.8rem;
			top:0.3rem;
			right:0.3rem;



		}
		
		&-icon{
			width:2rem;
			height:2rem;
			margin-right: 1rem;
			fill:$color-secondary-light-2;
			transform: translateY(.4rem);

			@include respond(s){
				display:none;

			}
		}
	}
}