.landing{
	margin-top: 5rem;
	&__header{
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
		background-image: linear-gradient(rgba(darken($color-brown,20%),.8), rgba(darken($color-brown,5%),.8)), url(../img/header-1.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		height:70vh;
		padding: 10vh 5vw 0 5vw;
		animation:comeLeft 1s ease-out ;
		transition: animation .5s;
		&--slogan{
			
			font-size: 5rem;
			font-family: $font-rajdhani;
			font-weight: 300;
			color:$color-secondary-light-2;
			text-transform: uppercase;
			letter-spacing: .2rem;
			line-height: 1.2;
			@include respond(l){
				font-size: 4.2rem;
			}
			@include respond(xs){
				font-size: 3rem;
			}


		}
	}


	&__chapter{
		margin:5rem auto;
		padding:2rem 0;
		text-align: center;
		span{	
			display:block;
			font-size: 5rem;
			font-family: $font-rajdhani;
			font-weight: 300;
			color:$color-brown;
			text-transform: uppercase;
			letter-spacing: .2rem;
			line-height: 1.2;
			text-shadow: .2rem .5rem .5rem rgba($color-brown,.8);
			cursor:pointer;
			transition: all .2s;
			@include respond(l){
				font-size: 4.2rem;
			}
			@include respond(xs){
				font-size: 3rem;
			}
			&:hover{
				transform:skew(-20deg);
				text-shadow: .5rem 1rem .5rem rgba($color-brown,.8);
			}
		}

	}
	&__features{
		margin: 10rem 0;
		padding-bottom: 5rem;
		display:grid;
		grid-template-columns: 50vw 1fr;
		grid-column-gap: 2rem;
		justify-items:center;
		@include respond(m){
			grid-template-columns: 1fr;
		}
		&__text{
			background-image: linear-gradient(rgba($color-brown,.4), rgba($color-brown,.6)), url(../img/features-1.jpeg);
			background-position: center;
			background-size: cover;
			width:40vw;
			height:40vw;
			border-radius: 50%;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include respond(m){
				width:100%;
				height:100%;
				border-radius: 0;
				grid-row: 2/3;
			}
			@include respond(s){
				width:100%;
				height:100%;
				border-radius: 0;
			}
			@include respond(xxl){
				width:50vw;
				height:50vw;
			}
			
			&--p{
				text-align: center;
				color:#fff;
				font-family: $font-rajdhani;
				letter-spacing: .1rem;
				text-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
				font-size: 2.5rem;
				font-weight: 300;
				padding:1rem 0;

				@include respond(xl){
					font-size: 2rem;
				}
				@include respond(l){
					font-size: 1.5rem;
				}
				@include respond(m){
					font-size: 2rem;
				}
			}
		}
		&__mission{
			width:100%;
			padding:5rem 2rem;

			&--p{
				color:$color-brown;
				font-family: $font-rajdhani;
				letter-spacing: .1rem;
				text-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
				font-size: 2.5rem;
				font-weight: 400;
				padding:1rem 0;
				@include respond(xl){
					font-size: 2rem;
				}
				@include respond(l){
					font-size: 1.5rem;
				}
				@include respond(m){
					font-size: 2rem;
				}
			}
		}
		
	}
}