.newRecepie {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba($color-secondary,.1);
	padding:2rem 1rem 5rem 1rem;


	&__header {
		font-size: 5rem;
		color: $color-brown;
		text-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
		font-family: $font-rajdhani;
		font-weight: 300;
	}

	&__form {
		margin: 1rem 1rem 5rem 1rem;
		width: 70%;
		height:50vh;
		position:relative;
		
		@include respond(m) {
			width: 100%;
			height:40vh;
		}

		&--area {
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			display: flex;
			flex-direction: column;
			margin: 2rem 0;
			background-color: #f0f0f0;
			padding:1rem;
			width: 100%;
			height:100%;
			overflow-y:scroll;

			h1{
				font-family: $font-courgette;
				letter-spacing: .2rem;
				font-size: 2.5rem;
				color:$color-brown;
			}
			h3{
				font-family: $font-portrait;
				letter-spacing: .2rem;
				font-size: 1.5rem;
			}
			h2{
				text-align: center;
				font-family: $font-portrait;
				letter-spacing: .2rem;
				font-size: 1.5rem;
			}
		}

		&--label {
			text-align: center;
			font-size: 3.5rem;
			font-family: $font-portrait;
			font-weight: 500;
			letter-spacing: 0.2rem;
			color: $color-brown;
			text-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
			margin-top: 2rem;
		}
		&--next{
			background-color: $color-brown;
			display: inline-block;
			width:10rem;
			padding:1rem 0;
			text-align: center;
			font-size: 1.6rem;
			border-radius: 3px;
			font-family: $font-portrait;
			color:snow;
			margin-top: 2rem;
			position:fixed;
			right:3rem;
			bottom: 3rem;
			cursor:pointer;

		}

		&--input {
			min-height: 3rem;
			width:50%;
			margin:2rem auto;
			border: none;
			background-color: white;
			box-shadow: 0 1rem 1rem rgba(#cfe8bd, 0.2);
			&:focus {
				outline: none;
				border-bottom: 1px solid $color-primary;
			}
		}

		&--ingridient {
			span {
				font-family: "Courier New", sans-serif;
				font-size: 1.2rem;
				color: $color-brown;
			}
			svg {
				width: 1.5rem;
				height: 1.5rem;
				fill: $color-brown-dark;
				cursor: pointer;
				margin-left: 1rem;
				transform: translateY(0.2rem);
				transition: all 0.2s;

				&:hover {
					fill: $color-brown;
					transform: translateY(0);
				}
			}
		}
		&--textarea {
			height: 10rem;
			width: 70%;
			margin:2rem auto;
			//transform: translateX(-8%);
			border: none;
			background-color: white;
			box-shadow: 0 1rem 1rem rgba(#cfe8bd, 0.2);
			&:focus {
				outline: none;
				border-bottom: 1px solid $color-primary;
			}
		}
		&--photo {
			display: block;
			margin: 0 auto;
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			cursor: pointer;

			&-label {
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				svg {
					width: 3.5rem;
					height: 3.5rem;
					fill: $color-brown-dark;
					transition: all 0.2s;
					&:hover {
						transform: translateY(-0.2rem);
						fill: $color-brown;
					}
				}
				span {
					font-family: "Courier New", sans-serif;
					font-size: 1.2rem;
					color: $color-brown;
					letter-spacing: 0.1rem;
				}
			}
		}
		&--add {
			border: none;

			position: relative;

			&-icon {
				width: 3.5rem;
				height: 3.5rem;
				position: absolute;
				right: 3.5rem;
				top: 0rem;
				border-radius: 50%;
				fill: $color-brown-dark;
				cursor: pointer;
				transition: all 0.2s;

				&:hover {
					transform: translateY(-0.2rem);
					fill: $color-brown;
				}
			}
		}
		&--submit {
			display: block;
			width: 80%;
			margin: 0 auto;
			border: none;
			background-color: $color-brown-dark;
			color: $color-secondary-light-2;
			padding: 1rem 2.5rem;
			border-radius: 3px;
			cursor: pointer;
			font-size: 2rem;
			font-family: $font-rajdhani;
			font-weight: 300;
			letter-spacing: 0.1rem;
			margin-top: 5rem;
			position:relative;
			z-index: 10;
			@include btn-shadow;
		}
	}

	&__success {
		position: fixed;
		top: 25%;
		left: 0;
		width: 100%;
		height: 50%;
		z-index: 1002;
		animation: comeRight .5s;
		background-image: linear-gradient(
			to top,
			rgba($color-primary, .8),
			$color-primary-dark
		);
		

		&--icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 5rem;
			height: 5rem;
			cursor: pointer;
			fill: black;
			transition: all 1s;
			&:hover {
				transform: rotate(360deg);
				fill: $color-brown-dark;
			}
		}

		&--header {
			text-align: center;
			font-family: $font-rajdhani;
			font-size: 3.5rem;
			font-weight: 500;
			letter-spacing: 0.2rem;
			margin-top: 20vh;
			color: $color-brown-dark;
			text-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
			text-transform: uppercase;
			background-image: linear-gradient(to right, $color-brown, black);
			background-clip: text;
			-webkit-text-fill-color:transparent;

			
			
			

		}
	}
}

.blackout{
	
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(black,.6);
	z-index: 999;

	svg{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:5rem;
		height:5rem;
	}
}

#output{
	width:20rem;

}


//==========================Layout NewRecepie

#areaName{
	z-index: 200;
}
#areaPhoto{
	z-index: 180;
}
#areaIngridients{
	z-index: 160;
}
#areaPreparation{
	z-index: 140;
}
#areaSubmit{
	z-index: 120;
}
