.preparations {
		

		margin-top: 2rem;
		padding:5rem 2rem;
		height: 40rem;
		perspective: 30rem;
		display: flex;
		justify-content: space-between;
		background-color: rgba($color-secondary,.1);


		@include respond(l) {
			height: auto;
			flex-direction: column;
		}


		&__header{
			text-align: center;
			text-transform: uppercase;
			font-family: $font-rajdhani;
			font-weight: 300;
			font-size: 4rem;
			text-shadow: 0.2rem 0.5rem 0.5rem rgba($color-brown, 0.4);
			margin-bottom: 3rem;
			margin-top: 5rem;
		}

		&--inputs {
			margin: 0 auto;
			width:30rem;
			align-self:center;

			@include respond(l) {
				margin-bottom: 1rem;
			}
			
			p {
				font-size: 1.8rem;
				font-family: $font-portrait;
				letter-spacing: 0.2rem;
				text-align: center;
				color: $color-brown-dark;
				margin-bottom: 2rem;
			}

			input{
				width:100%;
				padding:2rem;
				border:none;
				background-color: darken(#f0f0f0,5%);
				text-align: center;
				font-size: 2rem;

				&:focus{
					outline:none;
				}
			}
			button{
				display:block;
				margin:2rem auto;
				padding:1rem 5rem;
				border-radius: 3px;
				background-color: $color-primary;
				font-size: 2rem;
				border:none;
				cursor:pointer;
				&:focus{
					outline:none;
				}
			}
		}

		&__card {
			width: 50%;
			height: 100%;
			background-image: linear-gradient(
				to right,
				$color-brown,
				$color-brown-dark
			);
			border: 3px solid black;
			transform: rotateY(-5deg);
			margin: 0 auto;
			transition: all 0.2s;
			box-shadow: 3rem -0.3rem 5rem rgba(0, 0, 0, 0.3);
			display:flex;
			
			
			ul{
				width:70%;
				height:100%;
				max-height:100%;
				overflow-y: scroll;
				border-right: 1px solid black;
				text-align: center;
				@include respond(l){
					border-right: 1px solid #d3d3d3;
				}
				button{
					position:absolute;
					bottom:1rem;
					left:25%;
					//transform:translateX(-75%);
					cursor:pointer;
					font-family: $font-portrait;
					letter-spacing: .2rem;
					font-size: 2rem;
					border:none;
					border-radius: 3px;
					background-color: $color-primary;
					color:snow;
					padding:1rem 2.5rem;

					@include btn-shadow
				}
				
			}
			ul>li{
				font-family: $font-portrait;
				list-style: none;
				text-transform: uppercase;
				color:$color-secondary-light;
				font-size: 2rem;
				object-position: top;

				@include respond(l) {
					color:$color-brown-dark;
				}
			}

			&--lists{
				font-family: $font-portrait;
				font-size: 2rem;
				margin-left: .5rem;
				max-height: 100%;
				
				p{
					display: block;
					color:$color-secondary-light;
					text-decoration: none;
					transition:color .2s;
					cursor:pointer;

					@include respond(l) {
						color:$color-brown;
					}

					&:hover{
						color: $color-primary;
					}
				}

				h3{
					text-transform: uppercase;
					font-size: 2rem;
					color:snow;
					text-align: center;
					border-bottom: 1px solid black;
					font-weight: 500;
					@include respond(l){
						border-bottom: 1px solid #d3d3d3;
					}

				}

				@include respond(l){
					position:absolute;
					top:0;
					right:0;
					max-width: 30%;
					width:30%;
					font-size: 1.5rem;
				}
			}


			@include respond(l) {
				width: 90%;
				transform: rotateY(0);
				box-shadow: none;
				border:none;
				display: block;
				overflow-y:scroll;
				text-align: center;
				background-image:none;
				background-color: darken(#f0f0f0,30%);
				height:30rem;
				position:relative;

			}
		}

		&__preps{
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color: rgba(0,0,0,.9);
			z-index: 9999;
			display:flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;


			svg{
				fill:snow;
				position:absolute;
				top:2rem;
				right:2rem;
				width:5rem;
				height:5rem;
			}

			p{
				color:snow;
				font-size: 2.5rem;
				font-family: $font-rajdhani, sans-serif;

				text-transform: uppercase;
			}
		}
	}