@keyframes laser {
	0%{
		bottom:0;
		left:0;
	}
	50%{
		
		bottom:0;
		left:40%;
	}
	100%{			//right bottom corner
		bottom:0;
		left:100%;
	}
}

@keyframes comeOut {
	0%{
		opacity:0;
		transform:scale(0);
	}
	100%{
		opacity:1;
		transform:scale(1);
	}
}

@keyframes comeLeft {
	0%{
		opacity:0;
		transform:translateX(-120%);
	}
	25%{
		opacity:0;
		transform:translateX(-120%);
	}
	100%{
		opacity:1;
		transform: translateX(0);
	}
}
@keyframes comeRight {
	0%{
		opacity:0;
		transform:translateX(120%);
	}
	25%{
		opacity:0;
		transform:translateX(120%);
	}
	100%{
		opacity:1;
		transform: translateX(0);
	}
}

@keyframes comeRightToHalf{
	0%{
		opacity:0;
		transform:translateX(120%) scale(2);
	}
	25%{
		opacity:0;
		transform:translateX(120%) scale(2);
	}
	100%{
		opacity:1;
		transform: translateX(50%) scale(2);
	}
}

@keyframes changeOpacity {
	0%{
		opacity:1;
		visibility: visible;
		z-index: 99;
	}
	10%{
		opacity:1;
		visibility: visible;
		z-index: 99;
	}
	20%{
		opacity:1;
		visibility: visible;
		z-index: 99;
	}
	30%{
		opacity:1;
		visibility: visible;
		z-index: 99;
	}
	40%{
		opacity:1;
		visibility: visible;
		z-index: 99;
	}
	50%{
		z-index: 1;
		opacity:0;
		visibility: hidden;
	}
	60%{
		z-index: 1;
		opacity:0;
		visibility: hidden;
	}
	70%{
		z-index: 1;
		opacity:0;
		visibility: hidden;
	}
	80%{
		z-index: 1;
		opacity:0;
		visibility: hidden;
	}
	90%{
		z-index: 1;
		opacity:0;
		visibility: hidden;
	}
	100%{
		z-index: 99;
		opacity:1;
		visibility: visible;
	}
}

@keyframes changeOpacity2 {
	0%{
		opacity:0;
		visibility: hidden;
	}
	10%{
		opacity:0;
		visibility: hidden;
	}
	20%{
		opacity:1;
	}
	30%{
		opacity:1;
	}
	40%{
		opacity:1;
	}
	50%{
		opacity:0;
		visibility: hidden;
	}
}
